@import "https://fonts.googleapis.com/css?family=Lato:400,700,400italic";

body {
    font: 15px/1.42857 "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #464545;
    padding: 10px 15px;
}