.flash {
    padding: 0 2.5%;
    position: absolute;
    right: 0;
    top: 81px;
    width: 25%;
    z-index: 1;
}

.contentbox {
    padding-top: 81px;
}

.block {
    display:block;
}

.post {
    outline: none !important;
    text-align: center;
}

.post img {
    width:100%;
    margin-bottom:5px;
}

#sortable {
    float: left;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: auto;
}

#sortable li {
    list-style-type: none;
}

.sort-item {
    position: relative;
}

.sort-handler {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 18px;
}

.nav-container {
    margin: auto;
}

@media (min-width: 768px) {
    .nav-container {
        width: 768px;
    }
}

@media (min-width: 992px) {
    .nav-container {
        width: 992px;
    }
}

@media (min-width: 1200px) {
    .nav-container {
        width: 1200px;
    }
}