@font-face {
	font-family: 'BebasNeue';
    font-weight: 400;
    font-style: normal;
	src: local('BebasNeueRegular'),
         url('https://fonts.olegrooz.com/static/fonts/BebasNeueRegular.otf?11') format('opentype'),
         url('https://fonts.olegrooz.com/static/fonts/BebasNeueRegular.ttf') format('truetype');
}

@font-face {
	font-family: 'BebasNeue';
    font-weight: 200;
    font-style: normal;
	src: local('BebasNeueLight'),
         url('https://fonts.olegrooz.com/static/fonts/BebasNeueLight.otf?11') format('opentype'),
         url('https://fonts.olegrooz.com/static/fonts/BebasNeueLight.ttf') format('truetype');
}

@font-face {
	font-family: 'BebasNeue';
    font-weight: 700;
    font-style: normal;
	src: local('BebasNeueBold'),
         url('https://fonts.olegrooz.com/static/fonts/BebasNeueBold.otf?11') format('opentype'),
         url('https://fonts.olegrooz.com/static/fonts/BebasNeueBold.ttf') format('truetype');
}

body {
	background-color: #B5B8B1;
    background-repeat: repeat;
	background-position: center center;
    background-size: auto;
    background-clip: border-box;
    background-attachment: fixed;
}

a:link, a:visited {
	color:#fff;
	text-decoration: underline;
}

a:hover, a:focus {
	color: #ffd200 !important;
}

ul {
	list-style: none;
    padding-left: 10px;
}

img {
	vertical-align: bottom;
}

.container-bottom {
    padding: 15px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.8)
}

.tags {
    margin: 0 0 10px;
}

.tags a {
    color: #fff;
	font: 20px "BebasNeue";
	text-decoration: none;
}

.tags a:link,
.tags a:visited {
	text-decoration: none;
}

.tags a:focus,
.tags a:hover {
    outline: none;
	text-decoration: underline;
}

.header {
	margin: 25px 10px;
	font:200 45px/45px "BebasNeue", monospace;
	color: #fff;
	text-decoration: none;
    text-transform: uppercase;
}

.nav, .logo {
	display: inline-block;
}

.nav {
	font-size: 43px;
	transition-timing-function: linear;
	transition-duration: 0.2s;
	position: relative;
    top: 8px;
}

.nav a {
	color: #fff;
    margin-left:20px;
}

.nav a:link,
.nav a:visited,
.nav a:hover {
	text-decoration: none;
}

.nav a:focus {
    outline: none;
}

.logo img {
    height: 98px;
}

/* SuperBox */
.superbox {
    font-size: 0;
}

.superbox-list {
	display: inline-block;
	position: relative;
	*display: inline;
	zoom: 1;
	width: 33.3%;
	cursor: pointer;
}
.superbox-img {
	max-width: 100%;
	width: 100%;
	cursor: pointer;
}

.superbox-image-wrap {
    text-align: center;
    position: relative;
}

.superbox-image-wrap .play {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -45px;
    font-size: 80px;
    text-align: center;
}

.superbox-image-wrap .play span {
    cursor: pointer;
}

.superbox-image-wrap .play span:hover {
    color: #e8eadf;
    opacity: 0.8;
}

.superbox-show {
	text-align: center;
	position: relative;
	box-shadow: inset 0 1px 5px #111;
	-webkit-box-shadow: inset 0 1px 5px #111;
	-moz-box-shadow: inset 0 1px 5px #111;
	width: 100%;
	float: left;
	padding: 25px;
	display: none;
}

.superbox-current-img {
	display: block;
	margin: auto;
	max-width: 100%;
	box-shadow: 0 1px 4px #222;
	border: 1px solid #222;
	cursor: pointer;
}

.superbox-current-wrap:after {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	background: #e8eadf;
	color: red;
	font-size: 25px;
	content: '►';
}

.tbl {
	display: inline-block;
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	opacity: 0;
	transition-timing-function: linear;
    transition-duration: 0.2s;
}

.superbox-list:hover .tbl {
	opacity: 1;
	background: rgba(0,0,0,0.6);
}

.tbl > div {
	display: table;
	width: 100%;
	height: 100%;
}

.tbl > div > div  {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	color: #fff;
    font: 23px/27px "BebasNeue";
}

.tbl > div > div > h3 {
	font: 700 35px "BebasNeue";
}

.superbox-name {
	font: 700 35px "BebasNeue";
    color: #fff;
    margin-bottom: 10px;
}

.superbox-name div {
	font: 400 23px/30px "BebasNeue";
}

.superbox-description {
	font: 17px 'Trebuchet MS', 'Lucida Grande', Tahoma, sans-serif;
    color: #fff;
    margin-top: 20px;
}

.superbox-float {
	float: left;
}
.superbox-close {
	opacity: 0.7;
	cursor: pointer;
	position: absolute;
	top: 25px;
	right: 25px;
	background: url('../img/close.gif') no-repeat center center;
	width: 35px;
	height: 35px;
}
.superbox-close:hover {
	opacity: 1;
}

input, textarea {
    display: block;
}

.contactform, .links {
    display: inline-block;
    width: 50%;
}

.contactform {
    float: left;
}

.soc {
	text-align: center;
}

.soc li {
	display: inline-block;
}

.icon {
	width: 60px;
	height: 60px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.75;
}

.icon:hover,
.icon:focus {
	opacity: 1;
}

.icon:focus {
	outline: none;
}

.icon-vk {
	background-image: url("https://static.olegrooz.com/static/img/icons/vk.png");
	margin: 0 8px;
}

.icon-fb {
	background-image: url("https://static.olegrooz.com/static/img/icons/fb.png");
}

.icon-vimeo {
	background-image: url("https://static.olegrooz.com/static/img/icons/vimeo.png");
	margin-left: -12px;
}

.icon-instagram {
	background-image: url("https://static.olegrooz.com/static/img/icons/inst.png");
}

.flash {
    padding: 0 2.5%;
    position: absolute;
    right: 0;
    top: 25px;
    width: 25%;
    z-index: 1;
}

.lead {
	text-align: center;
	font: 25px "BebasNeue" !important;
}

.contact-control {
    margin: 0;
	width: 100%;
	background: #000;
	border: 1px solid #1f1f1f;
}

input.contact-control {
	height: 45px;
	line-height: 45px;
	padding: 0 10px;
}

textarea.contact-control {
	line-height: 20px;
	padding: 10px 10px;
	resize: vertical;
}

.contact-label {
	text-align: right;
	color: #9f9f9f;
	font: 400 18px/3 'BebasNeue';
}

.contact-button {
	background: #262626 none repeat scroll 0 0;
    border: medium none;
    box-shadow: 0 1px 1px #262626;
    color: #9f9f9f;
    font: 18px/35px 'BebasNeue';
    padding: 3px 0 0;
    text-indent: 10px;
    text-transform: uppercase;
    width: 100%;
}

.overflow {
	overflow: hidden;
}

@media only screen and (min-width: 320px) {
	.superbox-list {
		width: 50%;
	}
}
@media only screen and (min-width: 486px) {
	.superbox-list {
		width: 25%;
	}
}

@media only screen and (max-width: 1440px) {
	body {
		background-image: url('../img/bg-1440.jpg');
	}
}

@media only screen and (min-width: 1441px) and (max-width: 1919px) {
	body {
		background-image: url('../img/bg-1440.jpg');
	}
}

@media only screen and (min-width: 1920px) {
	body {
		background-image: url('../img/bg-retina.jpg');
	}
}

.photo_container {
	padding: 10px 0px 30px;
	text-align: center;
}