{% extends "admin/base.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h2>Welcome, {{ username }}</h2>

    </div>
</div>
<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
{% endblock %}