<!DOCTYPE html>
<html>
<head>
    <title>AdminPanel | {% block page_title %}{% endblock %}</title>
    <link href="https://static.olegrooz.com/static/olegrooz.png" rel="apple-touch-icon">
    <link href="https://static.olegrooz.com/static/olegrooz.png" rel="shortcut icon">
    {% assets "css_admin" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>
{% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash">
                {% for category, message in messages %}
                    <div class="alert alert-dismissible alert-{{ category }}">
                        <button class="close" data-dismiss="alert" type="button">×</button>
                        <p>{{message}}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div class="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="nav nav-container">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ url_for('or_admin.home') }}">DPanel</a>
                    </div>
                    <ul class="nav navbar-nav">
                        {% if username %}
                        <li class="{% if request.path==url_for('or_admin.posts') %}active{% endif %}"><a href="{{ url_for('or_admin.posts') }}">Portfolio</a></li>
                        <li class="{% if request.path==url_for('or_admin.contacts') %}active{% endif %}"><a href="{{ url_for('or_admin.contacts') }}">Contact</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if username %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" aria-expanded="true" role="button" data-toggle="dropdown" href="#">{{ username }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                {#
                                <li><a href="{{ url_for('or_admin.profile') }}">Profile</a></li>
                                <li><a href="{{ url_for('or_admin.activity') }}">Activity</a></li>
                                <li class="divider"></li>
                                #}
                                <li><a href="{{ url_for('or_admin.logout') }}">Logout</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        <li><a href="{{ url_for('public.home') }}">Back to site &#8594;</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    <div class="contentbox">
        {% block content %}
        {% endblock %}
    </div>
    {% assets "js_admin" %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    </div>
{% endblock %}
</body>
</html>