{% extends "admin/base.html" %}
{% block page_title %}Edit Contact{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Edit Contacts</h1>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">
            <fieldset>
                {% for field in form %}
                {% if field.type in ['CSRFTokenField', 'HiddenField'] %}
                  {{ field() }}
                {% elif field.type == 'SubmitField' %}
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-2">
                            {{ form.submit(class_="btn btn-primary") }}
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-lg-2 control-label">{{ field.label }}</label>
                        <div class="col-lg-10">
                            {{ field(class_="form-control") }}
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}