{% extends "admin/base.html" %}
{% block page_title %}Login{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="well">
            <form method="POST" action="" class="form-horizontal">
                <fieldset>
                    <legend>Log in</legend>
                    <div class="form-group">
                        <label class="col-xs-2 control-label" for="inputUsername">Username</label>
                        <div class="col-xs-10">{{ form.username(placeholder="Username", class_="form-control", id="inputUsername") }}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label" for="inputPassword">Password</label>
                        <div class="col-xs-10">{{ form.password(placeholder="Password", class_="form-control", id="inputPassword") }}</div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-2">
                            {{ form.submit(class_="btn btn-primary") }}
                        </div>
                    </div>
                    {{ form.csrf_token }}
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}