{% extends "admin/base.html" %}
{% block page_title %}Posts{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Posts</h1>
            </div>
        </div>
    </div>
    <div class="row" id="sortable">
     <div class="col-xs-3">
        <div class="well">
            <a class="block post" href="{{ url_for('or_admin.create') }}">
                <img src="https://static.olegrooz.com/static/img/plus.png">
                <span>Create new post</span>
            </a>
        </div>
    </div>
    {% for post in posts %}
        <div class="col-xs-3 sort-item" data-num="{{ post.num }}" data-slug="{{ post.slug }}">
            <div class="well">
                <div class="sort-handler"><span class="glyphicon glyphicon-new-window"></span></div>
                <a class="block post" href="{{ url_for('or_admin.edit', num=post.num) }}">
                    <img src="https://static.olegrooz.com/static/media/{{ post.thumb }}">
                    <span>{{ post.title }}</span>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}