<!DOCTYPE html>
<html>
<head>
    <title>Error 401</title>
    <meta http-equiv="refresh" content="1;URL={{ url_for('or_admin.login') }}" />
</head>
<body>
    <div class="jumbotron">
        <div class="text-center">
            <h1>401</h1>
            <p>You are not authorized to see this page.
            </p>
        </div>
    </div>
</body>
</html>