<!DOCTYPE html>
<html>
<head>
    <title>Oleg Rooz | {% block page_title %}{% endblock %}</title>
    <link href="https://static.olegrooz.com/static/olegrooz.png" rel="apple-touch-icon">
    <link href="https://static.olegrooz.com/static/olegrooz.png" rel="shortcut icon">
    <meta charset="utf-8">
    <meta name='yandex-verification' content='6c72724752ed9f2c' />
    {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>
{% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash">
                {% for category, message in messages %}
                    <div class="alert alert-dismissible alert-{{ category }}">
                        <button class="close" data-dismiss="alert" type="button">×</button>
                        <p>{{message}}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="container container-top">
        <div class="header">
            <div class="logo">
                <img src="https://static.olegrooz.com/static/img/logo.png" alt="Olegrooz">
            </div>
            <div class="nav">
                <a href="{{ url_for('public.home') }}">Portfolio</a>
                <a href="http://blog.olegrooz.com">Blog</a>
                <a href="{{ url_for('public.contactme') }}">Contact</a>
            </div>
        </div>
    </div>
    <div class="container container-bottom">
    <div class="contentbox">
        {% block content %}
        {% endblock %}
    </div>

    {% assets "js_all" %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    </div>
    <script>
        $(function() {
            // Call SuperBox
            $('.superbox').SuperBox();
        });
    </script>
{% endblock %}
</body>
</html>