{% extends "base.html" %}
{% block page_title %}Contact{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="photo_container">
                <img src="/static/media/{{ contact.img }}" width="{{ contact.img_width }}" alt="contact me">
            </div>
            <p class="lead">{{ contact.body|safe }}</p>
            <ul class="soc">
                <li><a href="http://vimeo.com/{{ contact.vimeo }}" class="icon icon-vimeo"></a></li>
                <li><a href="http://facebook.com/{{ contact.facebook }}" class="icon icon-fb"></a></li>
                <li><a href="http://instagram.com/{{ contact.instagram }}" class="icon icon-instagram"></a></li>
                <li><a href="http://vk.com/{{ contact.vk }}" class="icon icon-vk"></a></li>
            </ul>
        </div>
        <div class="col-lg-5 col-lg-offset-3">
                <form method="POST" action="">
                    <div class="form-group overflow">
                        <div class="col-lg-3 col-lg-offset-1 contact-label">{{ form.name.label }}</div>
                        <div class="col-lg-8">
                            {{ form.name(class_="contact-control") }}
                        </div>
                    </div>
                    <div class="form-group overflow">
                        <div class="col-lg-3 col-lg-offset-1 contact-label">{{ form.email.label }}</div>
                        <div class="col-lg-8">
                            {{ form.email(class_="contact-control") }}
                        </div>
                    </div>
                    <div class="form-group overflow">
                        <div class="col-lg-3 col-lg-offset-1 contact-label">{{ form.subject.label }}</div>
                        <div class="col-lg-8">
                            {{ form.subject(class_="contact-control") }}
                        </div>
                    </div>
                    <div class="form-group overflow">
                        <div class="col-lg-3 col-lg-offset-1 contact-label">{{ form.message.label }}</div>
                        <div class="col-lg-8">
                            {{ form.message(class_="contact-control", rows="5") }}
                        </div>
                    </div>
                    <div class="form-group overflow">
                        <div class="col-lg-8  col-lg-offset-4">
                            {{ form.submit(class_="contact-button") }}
                        </div>
                    </div>
                    {{ form.csrf_token }}
                </form>
        </div>
    </div>
{% endblock %}