{% extends "base.html" %}
{% block page_title %}Portfolio{% endblock %}
{% block content %}
    <div class="tags">
        <a href="/">All</a>&nbsp;&nbsp;&nbsp;
        <a href="/?tag=music_videos">Music Videos</a>&nbsp;&nbsp;&nbsp;
        <a href="/?tag=live">Live</a>&nbsp;&nbsp;&nbsp;
        <a href="/?tag=diaries">Diaries</a>&nbsp;&nbsp;&nbsp;
        <a href="/?tag=promo">Promo</a>&nbsp;&nbsp;&nbsp;
    </div>
    <div class="superbox">
        {% for post in posts %}
        <div class="superbox-list">
            <img data-source="{{ post.videoSource }}" data-service="{{ post.service }}" src="https://static.olegrooz.com/static/media/{{ post.thumb }}" data-description="{{ post.description }}" data-img="https://static.olegrooz.com/static/media/{{ post.img }}" alt="{{ post.title }}" data-thumbTitle="{{ post.thumbTitle }}" class="superbox-img">
            <div class='tbl'>
                <div>
                    <div>
                        <h3>{{ post.title }}</h3>
                        <span>{{ post.thumbTitle }}</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}